{% if first_date%}
<tr class="time_header">
  <td colspan="10" align="left">
    {{ first_date|pretty_date|capfirst }}
  </td>
</tr>
{% endif %}
{% for photo_group in photos_groups %}
{% if forloop.first and first_date %}
<tr>
{% else %}
<tr {% if forloop.counter0|divisibleby:2 %}class="group_start"{% endif %}>
{% endif %}

  {% for photo in photo_group %}
  <td valign="top" class="photo" align="left" {% if forloop.parentloop.last and forloop.last %} photo_id="{{photo.photo_id}}" {% endif %}>
    {% ifnotequal layout "small" %}
    <div class="title"><a href="{{photo.author_uri}}" target="_blank">{{photo.author}}</a></div>
    {% endifnotequal %}
    <div class="container" onmouseover="$(this).addClassName('hover')" onmouseout="$(this).removeClassName('hover')">              
      <a href="{{photo.uri}}" target="_blank" class="photo_link" title="{{photo.title}}" rel="lightbox">
        <img src="{{photo|image_url_by_layout:layout}}"/>                         
      </a>             
    </div>
    <div class="author"></div>        
  </td>
  {% endfor %}
</tr>
{% endfor %}