<html>
  <head>
    <title>FlickFaver - your friend favorite photos</title>    
    <meta name="keywords" content="flickr photo favorites contacts feed best aggregator" />
    <meta name="description" content="Take everithing from your flickr, find best photos" />
    
    <link rel="alternate" type="application/rss+xml"  title="{{username}} contact favorites" href="/feed/{{nsid}}" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js"></script>    
    
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css">
    
    <script src="/javascripts/iphone.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/iphohe.css">      
        
    <script src="/javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    
    <script src="/javascripts/lightbox.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/lightbox.css">  
  </head>
  <body>    
    <div id="userMessage" style="display: none"></div>
    
    <div class="header relative">                                               
      <a class="a2a_dd" href="http://www.addtoany.com/subscribe?linkname=Flickfaver&amp;linkurl=http%3A%2F%2Fflickfaver.com/user/{{nsid}}"><img src="http://static.addtoany.com/buttons/subscribe_16_16.gif" width="16" height="16" border="0" alt="Subscribe"/></a>        
      <span style="margin-left: 10px">Hello {{username}}</span>                        
      <a href="logout" title="Logout" class="logout">(logout)</a>

      <div class="relative settings_container" style="display: inline; margin-left: 20px" 
           onmouseover="$(this).addClassName('hover')" 
           onmouseout="$(this).removeClassName('hover')">
        <span>Settings</span>                
        <ul class="settings">
          <li>
            <input type="checkbox" id="skill_checkbox" class="skill_checkbox" {% ifequal difficulty 100 %}checked="checked"{% endifequal %} title="Change difficulty" onchange="document.fire('difficulty:changed', this.checked)"/>
            <label for="skill_checkbox">Show if favorited by two or more contacts</label>
          </li>
          <li style="margin-top: 10px">
            <input type="checkbox" id="large_images" class="large_images" {% ifequal large_images 1 %}checked="checked"{% endifequal %} title="Always try to open large image"/>
            <label for="large_images">Always try to open large image</label>
          </li>          
        </ul>                
      </div>
    </div>        
    <div id="container">
      <div class="photos" style="border: 1px solid white;">
        <table id="photos_table" style="width: 100%">
        </table>
        <div id="loader" style="display: none"><span>Wait a second, loading photos...</span></div>
      </div>  
    </div>
    <script type="text/javascript">a2a_linkname="Flickfaver";a2a_linkurl="http://flickfaver.com/user/{{nsid}}";</script>
    <script type="text/javascript" src="http://static.addtoany.com/menu/feed.js"></script>    
    <script type="text/javascript">
    var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
    document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
    UserVoice.Tab.show({ 
      /* required */
      key: 'flickfaver',
      host: 'flickfaver.uservoice.com', 
      forum: '31793', 
      /* optional */
      alignment: 'right',
      background_color:'#36393D', 
      text_color: 'white',
      hover_color: '#666',
      lang: 'en'
    })
    </script>                
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11218453-1");
      pageTracker._trackPageview();
      } catch(err) {}
  </script>  
  </body>
</html>
