<html>
  <head>
    <title>FlickFaver - your friend favorite photos</title>    
    <meta name="keywords" content="flickr photo favorites contacts feed best aggregator" />
    <meta name="description" content="Take everithing from your flickr, find best photos" />
    
    {% ifnotequal username None %}
    <link rel="alternate" type="application/rss+xml"  title="{{username}} contact favorites" href="/feed/{{userid}}" />
    {% endifnotequal %}
    
    <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css">
    
    <script src="/javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">    
  </head>
  <body>
    <a href="http://blog.flickfaver.com" id="blog_link" title="Blog">Blog</a>    
    {% ifequal username None %}
    <a id="twitter" href="http://twitter.com/flickfaver" title="Follow on twitter"><img src="/images/twitter_white.gif"/></a>    
    <div id="outer">
      <div id="middle">    
        <div id="inner">
          <div class="slogan">Easy way to track your friend favorites</div>
          <a href="/login" class="login_link">Login with Flickr</a>          
          {% if is_admin %}
          <br/>
          <form action="/login">
            <input name="userid" value="13779206@N08" />
          </form>
          {% endif %}
          
          {% if photos %}
          <div class="photos_big" id="photos_container">                      
            {% for photo in photos %}
            <div class="photo">
              <img src="{{photo.image_url}}"/> 
            </div>
            {% endfor %}  
          </div>         
          <div id="loader" style="display: none"><span>Wait a second, loading photos...</span></div>         
          {% endif %} 
        </div>
      </div>
    </div>
    {% else %}
    <a id="twitter" href="http://twitter.com/flickfaver" title="Follow on twitter"><img src="/images/twitter.gif"/></a>  
    <div class="header">                       
      <a href="/feed/{{userid}}" id="rss_icon" title="Subscribe to rss"><img src="/images/feed_48.png"/></a>
      <span>Hello {{username}}</span>
      <!-- 
      <span class="slogan">Take best from your flickr</span>
      -->      
    </div>        
    <div id="container">
      <div class="photos">
        <table id="photos_table">
        </table>
        <div id="loader" style="display: none"><span>Wait a second, loading photos...</span></div><
      </div>  
    </div>
     
    <script type="text/javascript">
      var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
      document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
    UserVoice.Tab.show({ 
      /* required */
      key: 'flickfaver',
      host: 'flickfaver.uservoice.com', 
      forum: '31793', 
      /* optional */
      alignment: 'right',
      background_color:'#36393D', 
      text_color: 'white',
      hover_color: '#666',
      lang: 'en'
    })
    </script>                
  {% endifequal %}  
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11218453-1");
      pageTracker._trackPageview();
      } catch(err) {}
  </script>  
  </body>
</html>
