#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 5px; }

#imageContainer #hoverNav { display: none; }
#imageContainer:hover #hoverNav { display: block }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink { width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#resizeBig, #faveOff { background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#resizeBig { position: absolute; right: 7px; top: 7px; font-size: 12px; width: 25px; height: 25px}
#resizeBig { background: url(/images/zoom.png) left no-repeat; }

#favoriteButton { position: absolute; left: 3px; top: 0px; font-size: 12px; width: 100px; height: 30px}
#favoriteButton { background: url(/images/fave_off.png) left no-repeat; }
.favorite #favoriteButton { background: url(/images/fave_on.png) left no-repeat; }

#prevLink:hover, #prevLink:visited:hover { background: url(/images/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(/images/lightbox/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 5px; color: #666; }
#imageData #imageDetails{float: left; text-align: left; padding-top: 6px; margin-right: 10px;}	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#imageData #sendTo {float: left; text-align: left; font-size: 12px; font-family: Arial; color: #000; padding-top: 5px;}

#sendTo a {text-decoration: none; color: #000}
#sendTo #to_facebook {}
#sendTo #to_twitter {margin-left: 5px}
#sendTo #to_friendfeed {margin-left: 5px;}
#sendTo #to_visualizeus {margin-left: 8px;}

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
